<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- EJS will automatically look in public folder bc of app.use(express.static('public')), so don't include public in file path-->
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <header class="px-4 bg-green-800 text-white">
        <div class="relative mx-auto py-6 flex justify-center items-center max-w-screen-lg sm:flex-row sm:items-center">
            <a class="text-3xl font-bold" href="/">The Lord of the Rings DB</a>
        </div>
    </header>
    <div class="flex justify-center items-center px-28 m-4 w-full min-h-96 max-h-svh overflow-hidden"><img class="rounded-xl" width="500px" height="500px" class="w-full h-full z-10" src="hobbithole.avif" alt="A hobbit hole" /></div>
    <p class="text-2xl text-center p-8">A database that lets you manage races, characters, and realms from The Lord of the Rings trilogy by J.R.R. Tolkien</p>
    <nav>
        <ul class="flex flex-row m-10 text-2xl font-bold">
            <li class="flex-1 m-4">
                <a href="/races">
                    <button class="py-10 w-full h-full block bg-green-600 rounded-md text-white hover:bg-green-700 ">Races</button>
                </a>
            </li>
            <li class="flex-1 m-4">
                <a href="/characters">
                    <button class="py-10 w-full h-full block bg-green-600 rounded-md text-white hover:bg-green-700">Characters</button>
                </a>
            </li>
            <li class="flex-1 m-4">
                <a href="/realms">
                    <button class="py-10 w-full h-full block bg-green-600 rounded-md text-white hover:bg-green-700">Realms</button>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>